@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'InterTight', sans-serif;
}

input[type="text"] {
  border: 1px solid #D7DDE9;
  border-radius: 8px;
  font-size: 16px;
  padding: 5px;
  width: 90%;
  height: 40px;
  margin-top: 10px;
}

button:hover {
  background-color: #D7DDE9;
}

button {
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 5px;
  width: 150%;
  height: 40px;
  cursor: pointer;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 1px solid #D7DDE9
}

@media (max-width: 575.98px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    justify-self: start;


  }

}
