.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(4px);
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;

}

.modalHeader {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.modalBody {
  margin-bottom: 15px;
}

.modalFooter {
  display: flex;
  padding-top: 20px;

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
    transition: background-color 0.3s ease;
    width: fit-content;


    &.primary {
      background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
      color: #fff;

      &:hover {
        background-color: #0056b3;
      }
    }

    &.secondary {
      background-color: #E7EEFB;
    }

    &.danger {
      background: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);
      color: #fff;

      &:hover {
        background-color: #c00;
      }
    }
  }
}


.buttonPrimary {
  background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
  color: #fff;
}

.buttonDanger {
  background: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);
  color: #fff;
}

.buttonSecondary {
  background: #E7EEFB;
  margin-right: 10px;
}

@media (max-width: 575.98px) {
  .modalContent {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 0;
    padding: 20px;
  }

  .modalFooter {
    flex-direction: column;
    button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
